@import "~swiper/css";
@import "~swiper/css/pagination";
@import "~swiper/css/navigation";

$primary-blue: #0088DD;

.testimonaila-sec{
    .title{
        color: white;
    }
    .sub-title{
        color: $primary-blue !important;
        text-transform: uppercase;
        font-weight: 700;
    } 

    .swiper {
        width: 100%;
        height: 100%;
      }
    
      .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #121622 !important;
        border-radius: 15px;
    
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
      }
    
      .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    
      .testimonial-item-div {
        position: relative;
        min-width: 100%;
        min-height: 300px;
        width: auto;
        height: auto;
        overflow: hidden;
      }
    
      .swiper-button-next,
      .swiper-rtl .swiper-button-prev,
      .swiper-button-prev,
      .swiper-rtl .swiper-button-next {
        background: rgba(211, 211, 211, 0.4);
        border-radius: 5px;
        width: 1.5rem;
        height: 1.5rem;
      }
    
      .swiper-button-next:after,
      .swiper-button-prev:after {
        font-size: small;
        color: white;
        font-weight: bold;
      }
}