<!-- Page header -->
<div class="header-sec" *ngFor="let hData of headerData">
    <app-page-header [data]='hData'></app-page-header>
</div>
<!-- Page Content -->
<div #target class="container-fluid content">
    <div class="title-section p-4 d-flex align-items-center">
        <h2 class="content-title mb-0">Explore More</h2>
        <app-dot-line class="line"></app-dot-line>
    </div>
    <div #target class="tab-view">
    <!--<app-service-preview-item (notify)="onNotified($event)"></app-service-preview-item>-->
          <mat-tab-group class="tab-group" [(selectedIndex)]="selectedTab" animationDuration="2000ms" mat-stretch-tabs>
            <mat-tab *ngFor="let service of servicePreviewItems" [label]="service.title">
              <ng-template md-tab-label>
                {{service.title}}
              </ng-template>
              <section class="tab-container">
                <div>
                  <app-tab-item [tabData]='service'></app-tab-item>
                </div>
              </section>
            </mat-tab>
          </mat-tab-group>
    </div>
</div>