$carousel-gradient : linear-gradient(180deg, #121622 0%, rgba(18, 22, 34, 0.42916) 46.35%, rgba(18, 22, 34, 0) 100%), rgba(0, 0, 0, 0.35);


// main slider style
.mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $carousel-gradient;
    z-index: 10;
}
.main-carousel-slide{
    width: 100%;
    height: 100%;
    object-fit: cover;
    -o-object-fit: cover;
    object-position: center bottom;
    position: absolute;
}
.container{
    margin-left: 4rem;
        margin-right: 4rem;
}
.content{
    z-index: 15;
    color: white;
    width: 60%;
    h1{
        font-weight:800;
        font-size: 3rem;
        line-height: normal;
    }
}

@media only screen and (min-width: 1024px){
    .content p{
        font-size: 1.2rem;
        line-height: initial;
    }
}

@media only screen and (max-width: 1024px){
    .content h1{
        font-size: 2.5rem;
    }
    .content{
        margin-left: 4rem;
        margin-right: 4rem;
    }
}
@media only screen and (max-width: 768px){
    .content h1{
        font-size:2rem;
    }
    .content{
        width: 80%;
    }
}
@media only screen and (max-width: 425px){
    .content{
        margin-left: 3rem;
        margin-right: 3rem;
        width: 100%;
    }
}
@media only screen and (max-width: 320px){

    .content{

        .btn-primary-dark, .mat-btn-light, .mat-btn-light{

            font-size: .6rem;

        }

    }

}