.bg-content{
    background: linear-gradient(180deg, #121622 0%, rgba(18, 22, 34, 0.476042) 52.92%, rgba(18, 22, 34, 0.17) 100%), linear-gradient(0deg, rgba(18, 22, 34, 0.5), rgba(18, 22, 34, 0.5)), var(--background-image);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}