$service-prev-gradient :linear-gradient(180deg, rgba(18, 22, 34, 0) 0%, #121622 100%);
$service-prev-gradient-hover : linear-gradient(180deg, rgba(9, 12, 20, 0) 0%, #090C14 100%);

.service-item {
    position: relative;
    min-width:100%;
    min-height:300px;
    width: auto;
    height: auto;
    overflow: hidden;

    .mask {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: $service-prev-gradient;
        z-index: 10;
        -webkit-transition: background 1s linear;
        transition: background 1s linear;
    }

    .service-wrap-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        -o-object-fit: cover;
        object-position: center;
        position: absolute;
        -webkit-transition: 1s linear;
        transition: 1s linear;
        filter: saturate(0%);
    }

    h3 {
        font-style: normal;
        font-weight: 700;
        text-transform: uppercase;
        color: #ffffff;
        z-index: 15;
        -webkit-transition: text-decoration 2s ease-in-out;
        transition: text-decoration 2s ease-in-out;
    }

    &:hover {
        filter: saturate(100%);

        .service-wrap-img {
            -webkit-transform: scale(1.15);
            transform: scale(1.15);
            filter: saturate(100%);
        }

        .mask {
            cursor: pointer;
            background: $service-prev-gradient-hover;
        }
    }
}