<div class="row d-flex justify-content-center align-items-center workshop-sec">
    <div class="col-lg-6 col-md-12 d-flex align-items-center justify-content-end left">
        <div class="workshop-Maincontent">
            <h1 class="workshop-title text-end">{{slidedata.title}}</h1>
            <p class="workshop-content text-end">{{slidedata.desc}}</p>
        </div>
    </div>
    <div class="col-lg-6 col-md-12 d-flex align-items-center right">
        <div class="main-img">
            <img class="img-fluid" src={{slidedata.imgOne}} alt="Workshop-item">
        </div>
    </div>
</div>