<ng-template #content let-offcanvas>
    <div class="offcanvas-header d-flex align-items-center">
      <img src="assets/images/logo.png" alt="Bootstrap" width="100" height="36">
      <button type="button" class="btn-close" aria-label="Close" (click)="offcanvas.dismiss('Cross click')"></button>
    </div>
    <div class="offcanvas-body">
      <ul class="list-group list-group-flush">
        <li class="list-group-item d-flex justify-content-between align-items-center" routerLink="/srilankan-engineering/home" (click)="offcanvas.dismiss('Cross click')">
          Home
          <span class="badge bg-primary rounded-pill"><i class="bi bi-house"></i></span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center" routerLink="/srilankan-engineering/our-services" (click)="offcanvas.dismiss('Cross click')">
          Our Services
          <span class="badge bg-primary rounded-pill"><i class="bi bi-gear-wide-connected"></i></span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center" routerLink="/srilankan-engineering/capabilities-and-approvals" (click)="offcanvas.dismiss('Cross click')">
          Capabilities & approvals
          <span class="badge bg-primary rounded-pill"><i class="bi bi-patch-check"></i></span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center" routerLink="/srilankan-engineering/about-us" (click)="offcanvas.dismiss('Cross click')">
          About us
          <span class="badge bg-primary rounded-pill"><i class="bi bi-airplane"></i></span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center" routerLink="/srilankan-engineering/media" (click)="offcanvas.dismiss('Cross click')">
          Media
          <span class="badge bg-primary rounded-pill"><i class="bi bi-newspaper"></i></span>
        </li>
      </ul>
      <button type="button" class="btn btn-primary">INQURE now/ Aog</button>
    </div>
    <div class="offcanvas-footer mb-2 text-center">
      <small class="p-4 text-muted"><span class="copyright">Ⓒ 2023 <a href="">SriLankan</a> IT Systems. All rights reserved.</span></small>
    </div>
  </ng-template>